<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869470742871-jhn05llsfr1p1661pb7lgtu23775s799.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869470742871-jhn05llsfr1p1661pb7lgtu23775s799</string>
	<key>API_KEY</key>
	<string>AIzaSyDXSfIn_FxgQQAYOOKU01FixuDg3Qg92nU</string>
	<key>GCM_SENDER_ID</key>
	<string>869470742871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vapp</string>
	<key>PROJECT_ID</key>
	<string>newapp-8d36b</string>
	<key>STORAGE_BUCKET</key>
	<string>newapp-8d36b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869470742871:ios:425c1d53fe58eba6baf612</string>
</dict>
</plist>